<a href="https://colab.research.google.com/github/Adarsh1331999/play-store-app-review-analysis/blob/main/Play_Store_App_Review_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Play Store apps data has enormous potential to drive app-making businesses to success. Actionable insights can be drawn for developers to work on and capture the Android market. </b>

## <b> Each app (row) has values for catergory, rating, size, and more. Another dataset contains customer reviews of the android apps.</b>

## <b> Explore and analyze the data to discover key factors responsible for app engagement and success. </b>

**1**. **Mount the Drive**

In [2]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).


**2. Import the required libraries**

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
% matplotlib inline


**3.Gathering data**

In [4]:
# creating a data for play store data.csv
user_review=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Play Store App Review Analysis/User Reviews.csv')

df_Play_Store=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Play Store App Review Analysis/Play Store Data.csv")
# lets read the dataset df_Play_Store

df_Play_Store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

**4.Data Cleansing**

In [5]:
# Checking the duplicate rows 
duplicate_rows =df_Play_Store[df_Play_Store.duplicated()].count()
print(f'There are total Duplicate rows \n {duplicate_rows} ')

There are total Duplicate rows
 App               483
Category          483
Rating            474
Reviews           483
Size              483
Installs          483
Type              483
Price             483
Content Rating    483
Genres            483
Last Updated      483
Current Ver       483
Android Ver       483
dtype: int64

In [6]:
df_Play_Store.drop_duplicates(subset ="App",keep = 'last', inplace = True)

In [7]:
df_Play_Store.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9660 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9660 non-null   object
 1   Category        9660 non-null   object
 2   Rating          8197 non-null   float64
 3   Reviews         9660 non-null   object
 4   Size            9660 non-null   object
 5   Installs        9660 non-null   object
 6   Type            9659 non-null   object
 7   Price           9660 non-null   object
 8   Content Rating  9659 non-null   object
 9   Genres          9660 non-null   object
 10  Last Updated    9660 non-null   object
 11  Current Ver     9652 non-null   object
 12  Android Ver     9657 non-null   object
dtypes: float64(1), object(12)
memory usage: 1.0+ MB

In [8]:
# lets check the data 
df_Play_Store.describe()

            Rating
count  8197.000000
mean      4.175027
std       0.560685
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000

In [9]:
df_Play_Store[df_Play_Store['Rating']>5]

                                           App Category  ...  Current Ver Android Ver
10472  Life Made WI-Fi Touchscreen Photo Frame      1.9  ...   4.0 and up         NaN

[1 rows x 13 columns]

In [10]:
# lets drop this outlier 
df_Play_Store.drop([10472],inplace=True)

In [11]:
# Checking the droped row is present or not
df_Play_Store.loc[10470:10475]

                           App         Category  ...  Current Ver   Android Ver
10470               Jazz Wi-Fi    COMMUNICATION  ...          0.1    2.3 and up
10471         Xposed Wi-Fi-Pwd  PERSONALIZATION  ...        3.0.0  4.0.3 and up
10473  osmino Wi-Fi: free WiFi            TOOLS  ...      6.06.14    4.4 and up
10474             Sat-Fi Voice    COMMUNICATION  ...      2.2.1.5    2.2 and up
10475         Wi-Fi Visualizer            TOOLS  ...        0.0.9    2.3 and up

[5 rows x 13 columns]

**5.Data Imputation and Manipulation**

Filling  the null values with appropriate values using aggreagate functions such as mean,median or mode.

1.Rating Column

In [12]:
df_Play_Store.loc[df_Play_Store["Rating"].isna(),"Rating"] = df_Play_Store["Rating"].median()

In [14]:
df_Play_Store.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              1
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       8
Android Ver       2
dtype: int64

2.Converting Dtype of Installs to float

In [15]:
df_Play_Store['Installs']=df_Play_Store['Installs'].apply(lambda x: str(x).replace("+",'') if "+" in str(x) else x)
df_Play_Store['Installs']=df_Play_Store['Installs'].apply(lambda x: str(x).replace(",",'')if "," in str(x) else x)
df_Play_Store['Installs'] = df_Play_Store['Installs'].apply(lambda x : float(x))

3.Converting Dtype of Size to float

In [18]:
df_Play_Store['Size']=df_Play_Store['Size'].apply(lambda x: str(x).replace("M",'')if "M" in str(x) else x)
df_Play_Store['Size']=df_Play_Store['Size'].apply(lambda x: float(str(x).replace('k', '')) / 1000 if 'k' in str( x) else x)
df_Play_Store['Size'] = df_Play_Store['Size'].replace("Varies with device",np.nan)
df_Play_Store['Size'] = df_Play_Store['Size'].apply(lambda x : float(x))

4.Converting Dtype of Reviews to float

In [19]:
df_Play_Store["Reviews"] = df_Play_Store["Reviews"].apply(lambda x : float(x))

5.Converting Dtype of Price to float

In [20]:
df_Play_Store['Price']=df_Play_Store['Price'].apply(lambda x: str(x).replace("$",'')if "$" in str(x) else x)
df_Play_Store["Price"] = df_Play_Store["Price"].apply(lambda x : float(x))

6.Converting Dtype of Last Updated to DateTime

In [21]:
df_Play_Store["Last Updated"] = pd.to_datetime(df_Play_Store["Last Updated"]).dt.date

In [23]:
df_Play_Store.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9659 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9659 non-null   object
 1   Category        9659 non-null   object
 2   Rating          9659 non-null   float64
 3   Reviews         9659 non-null   float64
 4   Size            8432 non-null   float64
 5   Installs        9659 non-null   float64
 6   Type            9658 non-null   object
 7   Price           9659 non-null   float64
 8   Content Rating  9659 non-null   object
 9   Genres          9659 non-null   object
 10  Last Updated    9659 non-null   object
 11  Current Ver     9651 non-null   object
 12  Android Ver     9657 non-null   object
dtypes: float64(5), object(8)
memory usage: 1.3+ MB

**6.Data Analysis**